.outer-container {
	background: #7F8C8D;
	width: 100%;
	height: 100%;
	margin-left: 50px;
	/*position: relative;*/

}

.title {
	color: white;
	text-align: left;
	font-size: 12px;
	padding-left: 10px;
	padding-top: 140px;

	
}


.inner-container {
	font-family: sans-serif;

	background: #2ECC71;
	width: 500px;
	height: 200px;
	margin-top: 10px;
	/*position: absolute;*/

}


.navbar {
	background: #34495E;
	width: 500px;
	height: 40px;
	/*list-style: none;*/
	margin: 0px;
	overflow: hidden;
	color: white;
	font-size: 12px;

}


.grline {
	background: #27AE60;
	width: 500px;
	height: 5px;
}

.navbar li {
	float: right;
	text-decoration: none;
	list-style: none;
	padding-right: 20px;

}


.article {
	background: white;
	font-size: 10px;
	height: 240px;
	width: 500px;

}

.atitle {
	color: black;
	/*padding-left: 10px;*/
	/*padding-top: 30px;*/
	
}



